{% extends "base.html.twig" %}
 
{% block body %}
	<div class="section-warp ask-me">
		<div class="container clearfix">
			<div class="box_icon box_warp box_no_border box_no_background" box_border="transparent" box_background="transparent" box_color="#FFF">
				<div class="row">
					<div class="col-md-12">
						<h2>Welcome to Ask me, Awesome Questions & Answer Template</h2>
						<p>Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis. Curabitur vitae velit in neque dictum blandit. Proin in iaculis neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur vitae velit in neque dictum blandit.</p>
						<div class="clearfix"></div>
						
						
					</div>
				</div><!-- End row -->
			</div><!-- End box_icon -->
		</div><!-- End container -->
	</div><!-- End section-warp -->

	<div class="container main-content">
		<div class="login">
			<div class="row">
				<div class="col-md-6">
					<div class="page-content">
						<h2>Login</h2>

						{% if app.user %}
							<p class="mb-3">
								{% trans %}Vous êtes connecté en tant que{% endtrans %} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a>
							</p>

						{% endif %}
						
						{% if error %}
							<p class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
						{% endif %}
						<div class="form-style form-style-3">
							<form method="post">
								<div class="form-inputs clearfix">
									<p class="login-text">
										<input id="email" value="{{ last_username }}" name="email" type="email" onfocus="if (this.value == 'Username') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Username';}">
										<i class="icon-user"></i>
									</p>
									<p class="login-password">
										<input id="password" name="password" type="password" onfocus="if (this.value == 'Password') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Password';}">
										<i class="icon-lock"></i>
										<a href="#">Récuperer mon mot de passe</a>
									</p>
								</div>
								<p class="form-submit login-submit">
									<input type="submit" value="Se connecter" class="button color small login-submit submit">
								</p>
								<div class="rememberme">
									<label><input type="checkbox" checked="checked"> Remember Me</label>
								</div>
								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="page-content">
						<h2>Récuperation de mot de passe</h2>
						<p>Etes-vous un participant de l'assemblée générale. Pour recuperer votre mot de passe merci de cliquer sur <b>Recuperer mon mot de passe</b> à gauche dans le champs mot de passe. Saisissez votre adresse email pour la reception du mot de passe</p>
					</div>
				</div>
			</div>
		</div>

		
	</div>
	

{% endblock %}